body {
  background-image: url(./img/IMG_6662.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.5); /* semi-transparent black overlay */
  color: white; /* white text color */
  position: relative;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.63); /* semi-transparent black overlay */
  z-index: -1;
}

.body-wrap {
  overflow-x: hidden;
}

h1 {
  font-size: 12rem;
  /* font-family: "Shrikhand"; */
  font-family: Helvetica;
  font-style: italic;
  text-align: center;
}
.mobile-title {
  display: none;
}

h2 {
  font-size: 2.75rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* text shadow */
}

p {
  color: snow;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* text shadow */
  font-family: "Lora";
  font-size: 1.5rem;
  line-height: 1.5;
  margin: 0;
  padding: 0 20px;
  max-width: 800px;
}

.nav,
.mobile-nav {
  margin-bottom: 32px;
  color: snow;
  display: flex;
  justify-content: center;
  list-style-type: none;
}

.nav li,
.mobile-nav li {
  font-weight: bold;
  flex-flow: row;
  font-family: "Lora";
  font-size: 2rem;
  margin-right: 5rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* text shadow */
}

.nav li:hover,
.mobile-nav li:hover {
  cursor: pointer;
}

.column {
  flex: 1;
  margin: 10px;
  padding: 20px;
  background-color: black;
}

.column h2 {
  text-align: center;
}

.column p {
  margin: 0 10% 0 10%;
  text-align: start;
}

#about,
#music,
#contact,
#performances {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  position: relative;
  padding-bottom: 2rem;
}

hr {
  border: 1px solid snow;
  width: 50%;
}

iframe {
  border: 2px groove whitesmoke;
  margin-bottom: 20px;
}

#contact a {
  color: #ebd66d;
  line-height: 2rem;
}

.performances-contact-container {
  display: flex;
  justify-content: center;
}

.upcoming-performances {
  padding: 2rem;
}

.table-wrapper {
  overflow-x: auto;
  width: 100%;
}

table {
  border-collapse: collapse;
  margin-bottom: 0;
  table-layout: fixed;
  width: 100%;
}

thead {
  background-color: rgba(0, 0, 0, 0.63); /* semi-transparent black overlay */
  color: snow;
}

th,
td {
  text-align: center;
  padding: 1rem;
  font-size: 2rem;
}

th:first-child,
td:first-child {
  padding-left: 2rem;
}

td > a {
  color: snow;
}

.mobile-nav {
  display: none;
}

/* Apply animation to the h1 element */
.glow-effect {
  /* animation: glow 3s infinite alternate; */
  color: #e4ddd7;
  text-align: center;
  margin-bottom: 0;
  text-stroke: 2px black;
  -webkit-text-stroke: 2px black;
}

@media screen and (max-width: 768px) {
  .desktop-only-break {
    display: none;
  }

  iframe {
    height: auto;
    max-width: 320px;
  }

  p {
    font-size: 18px;
  }

  #contact p {
    font-size: 22px;
  }

  h1 {
    font-size: 6rem;
  }

  h2 {
    font-size: 2rem;
  }

  .nav {
    display: none;
  }

  .mobile-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px 0 12px;
  }

  .mobile-nav li {
    font-size: 1.2rem;
    margin: 1rem 0;
  }

  .glow-effect {
    display: block;
    padding: 0;
    font-size: 5rem;
    text-align: center;
  }

  .upcoming-performances {
    padding: unset;
  }

  .upcoming-performances > h2 {
    text-align: center;
  }

  th,
  td {
    border: 1px solid snow;
    padding: 1rem 0 1rem 0;
    font-size: 16px;
  }

  th:first-child,
  td:first-child {
    padding: unset;
  }
}

@keyframes glow {
  0% {
    text-shadow: 0 0 5px #d19362, 0 0 10px #d19362, 0 0 15px #d19362;
    text-stroke: 2px #000;
    -webkit-text-stroke: 2px #000;
  }
  25% {
    text-shadow: 0 0 5px #d8c370, 0 0 10px #d8c370, 0 0 15px #d8c370;
    text-stroke: 2px #000;
    -webkit-text-stroke: 2px #000;
  }
  50% {
    text-shadow: 0 0 5px #d1ba5a, 0 0 10px #d1ba5a, 0 0 15px #d1ba5a;
    text-stroke: 2px #000;
    -webkit-text-stroke: 2px #000;
  }
  75% {
    text-shadow: 0 0 5px #d19362, 0 0 10px #d19362, 0 0 15px #d19362;
    text-stroke: 2px #000;
    -webkit-text-stroke: 2px #000;
  }
  100% {
    text-shadow: 0 0 5px #d19362, 0 0 10px #d19362, 0 0 15px #d19362;
    text-stroke: 2px #000;
    -webkit-text-stroke: 2px #000;
  }
}
